{% load static %}
<!-- Navbar-1 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavÜstMarkup">
        <div class="navbar-nav">
          <a class="text-white" href="tel:05324733731"><i class="fa-solid fa-square-phone"></i> 05324733731</a>
          <a class="text-white ms-4" href="mailto:info@tartdunyasi.com"><i class="fa-sharp fa-solid fa-envelopes-bulk"></i> info@tartdunyasi.com </a>
          </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav mt-3 mb-3">
             <div class="nav-sosyal"> 
              <a href="https://www.instagram.com/tart__dunyasi/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a href="https://tr-tr.facebook.com/tartdunyasi/" target="_blank"
                ><i class="fa-brands fa-facebook ms-3"></i
              ></a>
             </div>
         </div>
        </div>
       </div>
      </div>
  </nav>
        <!-- Navbar-2 -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a href="#" class="navbar-brand">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="170">
              </a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                      <li>
                        <form class="d-lg-flex arama" action="{% url 'urunler'%}" method="GET" role="search">
                          <input class="form-control me-2" name="search" type="search" value="{{search}}" placeholder="Arama" aria-label="Search" size="60">
                          <button class="btn btn-outline text-white aramabtn " type="submit">Arama</button>
                        </form>
                      </li>
                </ul>
                <form class="d-flex justify-content-end">
                    <ul class="navbar-nav nav-sosyal m-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'anasayfa'%}">Anasayfa</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'iletisim'%}">İletişim</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'urunler'%}">Ürünler</a>
                      </li>
                      
                      {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'sepet'%}">Sepet</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="#">{{request.user}}</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'cikis'%}"><i class="fa-solid fa-power-off"></i></a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'giris'%}">Üye Ol/Giriş Yap</a>
                      </li>
                      {% endif %}
                    </ul>
                </form>
              </div>
            </div>
          </nav>
          